:root {
  --white: hsl(0, 0%, 100%);

};
/* {
padding: 0;
margin: 0;
box-sizing: border-box;
}
/*
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}
*/

body {
  font-family: sans-serif;
  background-color: green;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  padding-top: 0px;
  background-color: hsl(206, 17%, 28%);
}

header h1 {
    background-color: rgb(70, 70, 70);
}

ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:aqua;
}

li {

    background-color: #829e1c;
}
  
a {
    padding: 8px;
    background-color: #9e1c1c;
}

aside {
  display: flex;
  float: left;
  width: 10%;
  text-align: left;
}


.card {
  display: flex;
  float: right;
  flex-direction: column;
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
  width: 300px
}

.img-big{
  height: 100px;
  width: 100%;

}

