:root {
  --white: hsl(0, 0%, 100%);

};


body {
  font-family: sans-serif;
  background-color:hsl(206, 17%, 28%);
  margin: 0 auto;
}


header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  padding-top: 0px;
  background-color: hsl(206, 17%, 28%);
}


header h1 {
  font-size: 60px;
  background-color: rgb(70, 70, 70);
}


ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color:aqua;
}
  

a {
    padding: 8px;
}

/* Seections cards together */
.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 auto;
  align-items: center;
}

/* Style of the right cards */
.Rcard {
  background-color: hsl(0, 0%, 100%);
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  padding: 30px 40px;
  width: 70%;
  border-left: 2px solid;

}

/* Style of the left cards */
.Lcard {
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  margin: 0 auto;
  padding: 30px 60px;
  width: 30%;
}

/* Sets images to the witdth of their box */
.img-big{
  width: 100%;
}

/* Makes the boxes that hold the images look better */
.img-box{
  margin-top: 30px;
  width: 40%;
  margin-left: 10px;
}

/* Sets the first image to be larger than the rest */
.first-img-box{
  height: 500px;
  margin-left: 10px;
}

