:root {
  --white: hsl(0, 0%, 100%);

};
/* *{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/*
html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}


@media all  {
  .aside1 { order: 1; }
  .aside2 { order: 4; }
  .article2 { order: 2; }  
}

*/

body {
  font-family: sans-serif;
  background-color:hsl(206, 17%, 28%);
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 15px;
  padding-top: 0px;
  background-color: hsl(206, 17%, 28%);
}

header h1 {
  font-size: 60px;
  background-color: rgb(70, 70, 70);
}


ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    background-color:aqua;
}
  
a {
    padding: 8px;
}

.felx-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 0 0 auto;
  align-items: center;
}

.Rcard {
  /*
  display: flex;
  float: right;
  */
  /* flex-direction: column; */
  background-color: hsl(0, 0%, 100%);
  /* border-radius: 5px;
  border-width: 1px; */
  /* box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px; */
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  /* margin: 0 auto; */
  /* max-width: 800px; */
  padding: 30px 40px;
  width: 70%;
  border-left: 2px solid;

}


.Lcard {
  /* display: flex;
  float: left; */
  /* flex-direction: column; */
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  /* font-size: 18px; */
  margin: 0 auto;
  /* max-width: 800px; */
  padding: 30px 40px;
  width: 30%;
}


.card{
  /* display: flex;
  flex-wrap: wrap; */
  /* flex-direction: row; */
  background-color: hsl(0, 0%, 100%);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: hsl(206, 17%, 28%);
  font-size: 18px;
  /* margin: 0 auto; */
  /* max-width: 800px; */
  padding: 30px 40px;
  width: 300px;
}

.img-big{
  height: 100px;
  width: 100%;

}

.img-box{
  width: 20%;
  margin-left: 10px;
}
